# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files (optional: keep in LFS)
# *.pth

# Logs and temp
*.log
.DS_Store
